#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=com.jenkins.localdomain

# Root password
rootpw --iscrypted $6$wCOPOxqjAKd0YUxV$Asl4WVx0TiCn6.GGhckuN.DhzRDjIYOXjOh4IAr5vOadqXvkwBET4tAO/nWntu7Fp.fOEqpG3FUaluBsV5nV41
# System timezone
timezone Asia/Kolkata --isUtc
user --name=krishna --password=$6$nWLiZxAuqgCbOqri$cUB4LTMOmO.kE8qg5hthFkVhnk4RooEJliOLmdJSjn3HRDWqNGRFJiERUYcd3KIYwcm/4sJj9hV8PUcQpgKmU1 --iscrypted --gecos="krishna"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
